* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(161, 161, 161);
}

button {
  margin: 1rem;
  padding: 0.3rem;
}

button:hover {
  transform: scale(1.5) rotateY(360deg);
  color: rgb(55, 14, 118);
  background-color: rgb(92, 255, 255);
  border-radius: 2.5rem;
  transition: all 300ms ease-in-out;
}

::before {
  color: blanchedalmond;
  font-size: 2rem;
}

::after {
  color: aquamarine;
  font-size: 2rem;
}

.dekorasjon::before {
  display: block;
  content: "En veldig dekorativ linje";
}

/*.katteListen{} */

.listeDekorasjon:not(:nth-child(3)) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  min-width: 30rem;
  min-height: 2rem;
}

.listeDekorasjon:nth-child(odd):not(:nth-child(3)) {
  background-color: rgb(105, 93, 93);
}

.listeDekorasjon:first-child,
.listeDekorasjon:last-child {
  color: rgb(75, 164, 23);
}

.listeDekorasjon:not(:nth-child(3))::after {
  content: "★";
  color: rgb(255, 255, 0);
}

.listeDekorasjon:nth-child(even) {
  color: brown;
  background-color: yellowgreen;
  font-size: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  gap: 0.1rem;
  margin-bottom: 2rem;
}

.flex-column > * {
  margin: 1rem;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10rem;
  row-gap: 1rem;
  margin-top: 4rem;
  grid-template-areas:
    "neko-chan neko-chan neko-chan"
    "neko-chan neko-chan neko-chan"
    "neko-chan neko-chan neko-chan";
}

.neko-chan {
  display: flex;
  flex-direction: column;
  background-color: rgb(137, 24, 24);
  width: 4rem;
  height: 4rem;
  position: relative;
  min-height: 6rem;
  min-width: 6rem;
}

.neko-chan::before {
  border: 0.1rem solid rgb(10, 90, 55);
  position: absolute;
  display: block;
  content: "";
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
  z-index: -1;
}
.neko-chan::after {
  border: 0.2rem solid rgb(55, 14, 118);
  position: absolute;
  display: block;
  content: "";
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  z-index: -1;
}

textarea {
  flex: 1;
  resize: none;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  overflow: hidden;
}

textarea:focus {
  background-color: aquamarine;
  outline: none;
}
